## Create Table with Special Types
As part of this topic we will create table with special types such as `ARRAY`, `STRUCT` and `MAP`.

* We can define columns with types such as `ARRAY`, `STRUCT` and `MAP`.
* We will also insert some data into the table. The syntax to insert data into special type columns is almost similar.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [3]:
from pyspark.sql import SparkSession

import getpass
username = getpass.getuser()

spark = SparkSession. \
    builder. \
    config('spark.ui.port', '0'). \
    config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
    enableHiveSupport(). \
    appName(f'{username} | Python - Special Data Types'). \
    master('yarn'). \
    getOrCreate()

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

In [4]:
spark.sql(f'CREATE DATABASE IF NOT EXISTS {username}_demo')

DataFrame[]

In [5]:
spark.sql(f'USE {username}_demo')

DataFrame[]

In [6]:
spark.sql('DROP TABLE IF EXISTS employees')

DataFrame[]

In [7]:
spark.sql("""
    CREATE TABLE employees (
        employee_id INT,
        employee_first_name STRING,
        employee_last_name STRING,
        employee_salary FLOAT,
        employee_nationality STRING,
        employee_email_ids ARRAY<STRING>,
        employee_phone_numbers MAP<STRING, STRING>,
        employee_ssn STRING,
        employee_address STRUCT<street: STRING, city: STRING, state: STRING, postal_code: INT>
    )
""")

DataFrame[]

In [8]:
spark.sql("""
    INSERT INTO employees
    VALUES (1, 'Scott', 'Tiger', 1000.0, 'United States', 
        ARRAY('scott@tiger.com', 'stiger@companyx.com'),
        MAP('Home', '+1 234 567 8901', 'Office', '+1 345 678 9012'), '789 12 6118', STRUCT('1234 ABC St', 'My City', 'My State', 13455)
        )
""")

DataFrame[]